


* {margin: 0;
}

body{
    margin: 0;
}

div{
    border: 1px solid;
    border-radius: 30%;
    display: inline-block;
    width: 60px;
    height: 30px;

}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}