

html{
    font-size: 2rem;
}

ul, li, a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    /*vertical-align: top;*/


}
li{
    border: 2px red solid;
    border-radius: 40%;
    display: inline-block;

}

a{
    border: 2px solid black;
    border-radius: 40%;
    padding: 0.3em;
 --hover-color: red;
}
a:hover{
    background-color: limegreen;
}

.amor:hover{
    background-color: var(--hover-color);
}