html, body, footer{
    margin: 0;
    padding: 0;
    height: 3000px;
}

footer{
    border: 7px red solid;
    background-color: coral;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 99%;
    display: block;
}