body{
    border:solid 2px;
    height: 300px;
    width: 800px;
    margin: 0 auto;
}

nav{
    position: relative;
    top: 0;
    width: 200px;
    border: 2px solid red;
    height: 300px;

}

main{
    position: absolute;
    left: 700px;
    top: 0;
    width: 600px;


}
