body,html{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 3vh;*/
    color:red;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

p{
    font-size: 1rem;
    animation-name: grows;
    animation-duration:2s ;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:ease;
    /*animation-play-state: running;*/
}

@keyframes grows {

    0%{
        font-size: 1rem;
        color: #390000;
    }
    
    /*50% {*/
    /*    font-size: 5rem;*/
    /*    color: #780808;*/
    /*}*/

    100%{
        font-size: 12rem;
        color: red;
    }

}
}

