

body{
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid;
    height: 800px;
  align-items: center;
}

div{
    background-color: #648880;
    border: 2px solid green;
    height: 100px;
    width: 200px;
    margin: 1em;

}