body{
    margin:0;
    padding: 0;
    background-color: red;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}





h1{
    font-size: 12rem;
    color: whitesmoke;
    align-self: center;


}