html,body section,div{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 2vh;
    font-family: sans-serif;
    color: #555555;
}

#center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border:2px solid blue;
}


.carta{
    border: lightgray 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 20rem;
    width: 100%;
    margin: 0 1rem;
}

h1,h2{
    font-weight: normal;
    font-size: 1.2rem;
}

h2{
    font-weight: bold;
}

span{
    /*border: 2px hotpink solid;*/
}

.card{
    border-top: 2px lightgray solid;
    width: 100%;
    background-color: rgba(198, 198, 248, 0.49);
}

.icons{
    height: 100%;
    width: 100%;
    fill: rgba(188, 188, 255, 0.72);
flex-grow: 0;
}