

.float{
    width: 200px;
    height: 100px;
    background-color: lightpink;
    border: 2px solid orangered;
    float: left;
    margin: 2em;
}

.clear{
    width: 100%;
    height: 40px;
    border: magenta 2px solid;
    background-color: cyan;
    clear: both;
}